{{ define "main" }}
<section
  class="relative bg-cover bg-center py-24 md:py-32"
  style='
    background-image:
      linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 50%),
      url("{{ .Site.Params.hero_background_image | relURL }}");
  '
>
  <div class="container mx-auto px-6 text-center">
    <h1
      class="text-4xl leading-tight font-bold tracking-tight text-white md:text-6xl"
    >
      {{ .Title }}
    </h1>
    <p class="mx-auto mt-4 max-w-2xl text-lg text-neutral-200 md:text-xl">
      {{ .Description }}
    </p>
  </div>
</section>

<section class="bg-[var(--background-light)] px-12 py-16 md:py-24">
  <div class="mx-auto columns-2 gap-4 md:columns-3 lg:columns-4">
    {{ range .Site.Data.gallery }}
    <div class="group mb-4 break-inside-avoid overflow-hidden rounded-lg">
      <img
        class="h-auto w-full max-w-full transform transition-transform duration-300 group-hover:scale-105"
        src="{{ .src | relURL }}"
        alt="{{ .alt }}"
      />
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
