{{ define "main" }}
<section class="flex items-center justify-center text-center h-full py-24 bg-[var(--background-dark)]">
  <div class="max-w-xl mx-auto px-4">
    <span class="material-icons-outlined text-8xl text-[var(--primary-color)] mb-4">
      content_cut
    </span>
    <h1 class="text-6xl font-bold text-[var(--text-primary)] mb-4">
      404
    </h1>
    <h2 class="text-3xl font-semibold text-[var(--text-primary)] mb-4">
      Ein kleiner Bad Hair Day?
    </h2>
    <p class="text-[var(--text-secondary)] mb-8">
      Keine Sorge, das passiert den Besten. Die Seite, die Sie suchen, scheint sich etwas verheddert zu haben und ist verloren gegangen. Wir bringen Sie zurück auf unsere Startseite, damit Sie wieder das finden, was Sie fabelhaft aussehen lässt.
    </p>
    <a href="{{ .Site.BaseURL }}" class="inline-flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-8 md:h-14 md:px-10 bg-[var(--primary-color)] text-[var(--text-on-primary)] text-base md:text-lg font-semibold leading-normal tracking-wide shadow-sm dark:shadow-none hover:bg-opacity-90 transition-all duration-300 ease-in-out transform hover:scale-105">
      Zurück zum fabelhaften Look
    </a>
  </div>
</section>
{{ end }}